
.cu-list.menu-avatar>.cu-item{
    padding-right: 0rpx;
}
.cu-list.menu-avatar>.cu-item .content{
    position: absolute;
    left: 146rpx;
    right: 0rpx;
    width: auto;
    line-height: 1.2em;
}
